/* .main {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  justify-content: space-around;
}

.text-box {
  color: black;
}
.mdbcard1 {
  background: #5ce0ff;
}
.mdbcard2 {
  background: #ffd05a;
  height: 37rem;
  padding: 10px;
}

.img-fluid {
  height: 12rem;
}

.mdb-btn {
  border: 1px solid #0099dd;
} */
